#main packages
openai
requests
playwright
pysqlite3-binary
tiktoken
tzwhere

chromadb==0.4.22
langchain 
langchain_community 
langchain_core 
langchain_openai==0.0.5
python-dotenv==1.0.1
streamlit==1.30.0
beautifulsoup4==4.12.2



#playwright install
#playwright install-deps
